/* #region global, header, main, footer */
@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-Bold.ttf);
    font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
    text-decoration: none;
}
html {
    font-size: 10px;
}
body {
    font-size: 2rem;
    background: #000060;
    color: white;
    font-family: Raleway;
    @media (max-width: 500px) {
        font-size: 1.6rem;
    }
}
header, section, footer {
    display: flex;
    justify-content: center;
    .content {
        display: flex;
        width: 100%;
        max-width: 1920px;
    }
}
header,footer {
    height: 10dvh;
    background: #000040;
    @media (max-width: 500px) {
        height: 5dvh;
    }
}

main {
    height: auto;
    min-height: 80dvh;
    .content {
        padding: 0 clamp(16px, 11dvw, 160px);
    }
    @media (max-width: 500px) {
        min-height: 90dvh;
    }
}
section, footer {
    .content {
        justify-content: center;
    }
}
footer .content {
    align-items: center;
}
/* #endregion */
h1 {
    font-size: 4rem;
    margin: 32px 0;
    @media (max-width: 700px) {
        font-size: 3rem;
    }
    @media (max-width: 500px) {
        font-size: 2rem;
    }
    @media (max-width: 350px) {
        font-size: 1.6rem;
    }
}


.overlay {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: rgba(0,0,0,0.5);
    .fotocard-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100dvh;
        width: auto;
        padding: 24px;
        background: #000060;
        border-radius: 50px;
        figure {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                height: 80dvh;
                border-radius: 16px;
                object-fit: cover;
                object-position: center, center;
                margin-bottom: 32px;
                @media (max-width: 1000px) {
                    height: 60dvh;
                }
                @media (max-width: 800px) {
                    height: 40dvh;  
                }
                @media (max-width: 600px) {
                    height: 20dvh;
                }
            }
            figcaption {
                text-align: left;
            }
        }
        .nav-arrows {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-top: 16px;
            img {
                width: 50px;
                height: 50px;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 400px) {
    .content, .fotocard-content {
        width: 280px;
    }
}

.d-none {
    display: none;
}
.d-hide {
    visibility: hidden;
}

#foto-content {
    height: auto;
    min-height: 75dvh;
    .content {
        height: auto;
        min-height: 75dvh;
        align-items: center;
        .fotoarea {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 8px;
            .img-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 110px;
                height: 110px;
                img {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    object-position: center center;
                    border-radius: 16px;
                    cursor: pointer;
                    transition: transform 300ms;
                }
                img:hover {
                    transform:scale(1.1);
                }
            }
        }
    }
}