/* #region global, header, main, footer */
@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-Bold.ttf);
    font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
    text-decoration: none;
}
html {
    font-size: 10px;
}
body {
    font-size: 2rem;
    background: #000060;
    color: white;
    font-family: Raleway;
}
header, section, footer {
    display: flex;
    justify-content: center;
    .content {
        display: flex;
        width: 100%;
        max-width: 1920px;
    }
}
header,footer {
    height: 10dvh;
    background: #000040;
}

main {
    height: auto;
    min-height: 80dvh;
    .content {
        padding: 0 160px;
    }
}
section, footer {
    .content {
        justify-content: center;
    }
}
footer .content {
    align-items: center;
}
/* #endregion */
h1 {
    font-size: 4rem;
    margin-top: 16px;
}
#foto-content {
    height: 70dvh;
    .content {
        height: 100%;
        align-items: center;
        .fotoarea {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 8px;
            .img-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 110px;
                height: 110px;
                img {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    object-position: center center;
                    border-radius: 16px;
                    cursor: pointer;
                    transition: transform 300ms;
                }
                img:hover {
                    transform:scale(1.1);
                }
            }
        }
    }
}