/* #region global, header, main, footer */
@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-Bold.ttf);
    font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
    text-decoration: none;
}
html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    background: black;
    color: white;
    font-family: Raleway;
}
header, section, footer {
    display: flex;
    justify-content: center;
    .content {
        display: flex;
        width: 100%;
        max-width: 1920px;
    }
}
header,footer {
    height: 10dvh;
}
main {
    height: auto;
    min-height: 80dvh;
}
section, footer {
    .content {
        justify-content: center;
    }
}
/* #endregion */
h1 {
    font-size: 4rem;
    margin-top: 16px;
}
#foto-content {
    height: 70dvh;
    .content {
        height: 100%;
        align-items: center;
        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            object-position: center;
        }
    }
}